@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Git Hub Users API</h1>
    <p class="lead">Use this app to intract with Git Hub Users API</p>
    @Html.ActionLink("Click me to navigate", "GetUserDetails", "GitHubUsersAPI")
</div>